# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build output
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
